<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Order Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</head>


 <body>
     <div>
          <section class="h-100" style="background-color: #eee;">
            <div class="container h-100 py-5">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">
          
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                    <div>
                      <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                            class="fas fa-angle-down mt-1"></i></a></p>
                    </div>
                  </div>
                  <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                      <div class="row d-flex justify-content-between align-items-center">

                        {% for cart_item in cart_items %}

                        <div class="col-md-2 col-lg-2 col-xl-2">
                          {% if cart_item.slot.variation.vechile_type|lower == "suv" or cart_item.slot.variation.vechile_type|lower == "coupe" or cart_item.slot.variation.vechile_type|lower == "sedan" %}

                          <img
                            src="https://images.unsplash.com/photo-1609964729554-a02fb2a04830?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80"
                            class="img-fluid rounded-3" alt="car image">
                            {% else %}
                            <img
                            src="https://images.unsplash.com/photo-1531327431456-837da4b1d562?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80"
                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                           {% endif %}
                          
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2">
                          <p class="lead fw-normal mb-2">{{cart_item.slot.variation.package| upper}}</p>
                          <p><span class="text-muted">Vechile Type: </span>{{cart_item.slot.variation.vechile_type |upper}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2">
                          <p class="lead fw-normal mb-2">{{cart_item.slot.date}}</p>
                        </div>
                         <div class="col-md-3 col-lg-3 col-xl-2">
                          <p class="lead fw-normal mb-2">Time</p>
                          <p class="lead fw-normal mb-2">{{cart_item.slot.timeslot}}</p>
                        </div>
                        
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h5 class="mb-0">{{cart_item.slot.variation.price}}</h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="{% url "remove_cart" cart_item.id  %}" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  
                  </div>
          
                  <div class="card mb-4">
                    <div class="card-body p-4 d-flex flex-row">
                      <div class="form-outline flex-fill">
                        <input type="text" id="form1" class="form-control form-control-lg" />
                        <label class="form-label" for="form1">Discound code</label>
                      </div>
                      <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
                    </div>
                  </div>
          
                  <div class="card">
                    <div class="card-body">
                      {% comment %} <a href="{% url 'booking' cart_item.id %}"> {% endcomment %}
                        Make payment
                    {% comment %} </a> {% endcomment %}
                    </div>
                  </div>
                
                    
                </div>
              </div>
            </div>
          </section>
        </div> 
       
                    
      </body>


</html>


















